<h1 mat-dialog-title>{{ event.title || "New event" }}</h1>
<div mat-dialog-content>
	<p>
		<input matInput type="text" placeholder="Title" [(ngModel)]="event.title">
	</p><p>
		Start:
		<input matInput [matDatepicker]="startPicker" [(ngModel)]="event.start">
		<mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
        <mat-datepicker #startPicker></mat-datepicker>
	</p>
</div>
<div mat-dialog-actions style="justify-content: flex-end;">
    <button *ngIf="event.id"
            mat-raised-button color="warn"
            (click)="onDeleteClick()">Delete this event</button>

    <button mat-button
            (click)="onCancelClick()">Cancel</button>

    <button mat-raised-button color="primary"
            [mat-dialog-close]="event" cdkFocusInitial>
        <span *ngIf="event.id">  Update </span>
        <span *ngIf="!event.id"> Create </span>
    </button>

</div>
