<h2 mat-dialog-title>
    Importing {{ nameAndEmail }}
</h2>

<!--
<div mat-dialog-content>
    <div>
        <mat-radio-group [(ngModel)]="targetChoice">
            <p>
                <mat-radio-button value="new"> Create a new contact </mat-radio-button>
            </p>
            <p>
                <mat-radio-button value="existing"> Add this address to an existing contact </mat-radio-button>
            </p>
            <p *ngIf="groupChoice === 'existing'">
                <button mat-button (click)="selectTargetGroup()">
                    <span *ngIf="!target_group">
                        Select group...
                    </span>
                    <span *ngIf="target_group">
                        <mat-icon> group </mat-icon> {{ target_group.full_name }}
                    </span>
                </button>
            </p>
        </mat-radio-group>
    </div>
</div>
-->

<div mat-dialog-actions style="justify-content: flex-end;">
    <button mat-button (click)="onCancelClick()">
        Cancel
    </button>

    <button mat-raised-button color="primary" (click)="onSubmitClick()">
        Import contact
    </button>
</div>
